In [98]:
import pandas_datareader
from datetime import datetime
import pandas as pd
from pytrends.request import TrendReq  #imports pytrends for loading google trends data
pytrends = TrendReq(hl='en-US', tz=360)

In [108]:
start = datetime(2019,1,2)
end = datetime(2019,3,18)

In [109]:
ibm = pandas_datareader.iex.daily.IEXDailyReader('IBM', start, end).read()

In [110]:
ibm.head() #displays the first 5 rows

                open      high       low     close   volume
date
2019-01-02  110.7200  114.6443  110.4037  113.8831  4239924
2019-01-03  113.2110  113.5569  111.3921  111.6096  4346659
2019-01-04  113.5866  116.1369  113.1220  115.9688  4477755
2019-01-07  116.1468  117.4614  115.3263  116.7893  3751204
2019-01-08  118.2819  119.1814  117.6097  118.4499  4763636

In [50]:
#This can be made into a function instead, as follows:

In [111]:
def prices(name, start=start, end=end):
    '''returns a dataframe with stock-information for a given company'''
    return pandas_datareader.iex.daily.IEXDailyReader(name, start, end).read()
#creats a function called "Prices" where the parameter "name" is the company acronym.

In [52]:
# Now we create a Keep function, where we can pinpoint which columns we want to keep

In [112]:
def keep(Prices, name, open = "Remove", high = "Remove", low = "Remove", close = "Remove" , volume = "Remove" ):
    keep_list = [open, high, low, close, volume]
    prices = Prices(name).loc[:,[open, high, low, close, volume]]
    Cleandataframe = prices.drop(columns= "Remove")
    return Cleandataframe

In [104]:
Keep(Prices, "IBM", "open", close="close").head(10) #we are primarily interested in the open and close price

                open     close
date
2019-02-01  133.4156  132.5556
2019-02-04  132.4765  133.6330
2019-02-05  133.7220  133.9889
2019-02-06  133.6627  134.7500
2019-02-07  133.5500  133.1900
2019-02-08  132.3400  133.7100
2019-02-11  134.2900  133.9900
2019-02-12  135.1500  136.0500
2019-02-13  136.9200  137.5200
2019-02-14  137.1700  136.4800

In [105]:
Stock = Keep(Prices, "IBM", "open", close="close")

In [106]:
Stock

                open     close
date
2019-02-01  133.4156  132.5556
2019-02-04  132.4765  133.6330
2019-02-05  133.7220  133.9889
2019-02-06  133.6627  134.7500
2019-02-07  133.5500  133.1900
2019-02-08  132.3400  133.7100
2019-02-11  134.2900  133.9900
2019-02-12  135.1500  136.0500
2019-02-13  136.9200  137.5200
2019-02-14  137.1700  136.4800
2019-02-15  137.5800  138.0300
2019-02-19  137.8100  138.7000
2019-02-20  138.7600  138.0000
2019-02-21  137.8200  137.8400
2019-02-22  138.7300  139.2500
2019-02-25  140.0000  139.4600
2019-02-26  139.6700  139.7200
2019-02-27  139.2500  139.1700
2019-02-28  138.7700  138.1300
2019-03-01  139.3100  139.2000
2019-03-04  139.9900  138.4300
2019-03-05  138.3700  137.8800
2019-03-06  138.1200  136.9800
2019-03-07  136.6100  135.3600
2019-03-08  134.2100  135.0900
2019-03-11  136.0300  137.7100
2019-03-12  138.5200  138.2800
2019-03-13  138.0500  138.5600
2019-03-14  138.5100  138.7900
2019-03-15  139.3700  139.4300
2019-03-18  139.8300  140.2100

In [39]:
#Now we find some google trends data

In [107]:
def Searches(*kw_list):
    pytrends.build_payload(kw_list, cat=0, timeframe='2019-2-1 2019-3-18', geo='', gprop='')
    searches = pytrends.interest_over_time()
    trend = searches.drop(columns = "isPartial")
    #sørg for at den kommer til at hedde kw_list + searches, eksempelvis hvis kw_list = "IBM" så returner den IBMsearches 
    return trend

In [63]:
Searches("IBM").head(10)

            IBM
date
2019-02-01   86
2019-02-02   41
2019-02-03   39
2019-02-04   89
2019-02-05   91
2019-02-06   93
2019-02-07   92
2019-02-08   92
2019-02-09   39
2019-02-10   38

In [88]:
Popularity = Searches("IBM")

In [58]:
#but wait.... the google trends data are daily - every day - but the marked is closed in weekends, and we only have data from weekdays. What now?

In [64]:
type(Searches("IBM"))

pandas.core.frame.DataFrame

In [67]:
type(Keep(Prices, "IBM", "open"))

pandas.core.frame.DataFrame

In [91]:
pd.merge_asof(Popularity, Stock, on = "date")

MergeError: incompatible merge keys [0] datetime64[ns] and object, must be the same type

In [ ]:
pd.concat()