In [1]:
import pandas_datareader
from datetime import datetime
import pandas as pd
from pytrends.request import TrendReq  #imports pytrends for loading google trends data
pytrends = TrendReq(hl='en-US', tz=360)

In [2]:
start=datetime(2019,2,1)
end = datetime(2019,3,18)

In [3]:
def prices(name, start=start, end=end):
    '''returns a dataframe with stock-information for a given company'''
    return pandas_datareader.iex.daily.IEXDailyReader(name, start, end).read()

In [4]:
def searches(*kw_list):
    pytrends.build_payload(kw_list, cat=0, timeframe='2019-2-1 2019-3-18', geo='', gprop='')
    searches = pytrends.interest_over_time()
    return searches.drop(columns = "isPartial")

In [9]:
def combine_data_frames(df1, df2):
    return df1.join(df2, how='outer')

In [10]:
IBM_data = prices("IBM")
IBM_S = searches("IBM", "AAPL")
IBM = combine_data_frames(IBM_S, IBM_data)

In [11]:
IBM.head()

            IBM  AAPL      open      high       low     close     volume
date
2019-02-01   85    32  133.4156  133.6429  131.8142  132.5556  3806047.0
2019-02-02   38    11       NaN       NaN       NaN       NaN        NaN
2019-02-03   38     6       NaN       NaN       NaN       NaN        NaN
2019-02-04   88    28  132.4765  133.6429  131.4584  133.6330  3966597.0
2019-02-05   91    39  133.7220  134.2558  133.3661  133.9889  5398907.0

In [8]:
IBM[["IBM","open", "close"]].head()

            IBM      open     close
date
2019-02-01   85  133.4156  132.5556
2019-02-02   38       NaN       NaN
2019-02-03   38       NaN       NaN
2019-02-04   88  132.4765  133.6330
2019-02-05   91  133.7220  133.9889