In [ ]:
%load_ext autoreload
%autoreload 2

import functions as fc
import numpy as np
import pandas
import pandas_datareader
import plotly.plotly as py
import plotly.graph_objs as go
import talib 
import cufflinks as cf
import pandas as pd
from datetime import datetime
from pytrends.request import TrendReq  #imports pytrends for loading google trends data
pytrends = TrendReq(hl='en-US', tz=360)
ewma = pandas.DataFrame.ewm
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
## Making Offline interactive charts
init_notebook_mode(connected = False)
cf.go_offline()

In [ ]:
start = datetime(2019,1,2)
end = datetime(2019,3,31)
ticker = 'GOOG'

df = fc.prices(ticker, start, end)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

In [5]:
close = df['close'].values
rsi = talib.RSI(close, timeperiod = 14)


df["RSI"]= rsi
df["Overbought"] = 70
df["Oversold"] = 30
df.head(n=20)

,date,open,high,low,close,volume,RSI,Overbought,Oversold
0,2019-01-02,1016.57,1052.32,1015.71,1045.85,1532608,NaN,70,30
1,2019-01-03,1041.00,1056.98,1014.07,1016.06,1841066,NaN,70,30
2,2019-01-04,1032.59,1070.84,1027.42,1070.71,2093894,NaN,70,30
3,2019-01-07,1071.50,1074.00,1054.76,1068.39,1981874,NaN,70,30
4,2019-01-08,1076.11,1084.56,1060.53,1076.28,1765267,NaN,70,30
5,2019-01-09,1081.65,1082.63,1066.40,1074.66,1199272,NaN,70,30
6,2019-01-10,1067.66,1071.15,1057.71,1070.33,1456421,NaN,70,30
7,2019-01-11,1063.18,1063.78,1048.48,1057.19,1520756,NaN,70,30
8,2019-01-14,1046.92,1051.53,1041.26,1044.69,1144263,NaN,70,30
9,2019-01-15,1050.17,1080.05,1047.34,1077.15,1463570,NaN,70,30
10,2019-01-16,1080.00,1092.38,1079.34,1080.97,1331819,NaN,70,30
11,2019-01-17,1079.47,1091.80,1073.50,1089.90,1242664,NaN,70,30
12,2019-01-18,1100.00,1108.35,1090.90,1098.26,1955559,NaN,70,30
13,2019-01-22,1088.00,1091.51,1063.47,1070.52,1613527,NaN,70,30
14,2019-01-23,1077.35,1084.93,1059.75,1075.57,966956,56.989652,70,30
15,2019-01-24,1076.48,1079.47,1060.70,1073.90,1361673,56.511600,70,30
16,2019-01-25,1085.00,1094.00,1081.82,1090.99,1119216,60.191729,70,30
17,2019-01-28,1080.11,1083.00,1063.80,1070.08,1284281,54.153459,70,30
18,2019-01-29,1072.68,1075.15,1055.86,1060.62,1021819,51.629982,70,30
19,2019-01-30,1068.43,1091.00,1066.85,1089.06,1279822,57.970828,70,30

In [6]:
def RSI(series, period):
 delta = series.diff().dropna()
 u = delta * 0
 d = u.copy()
 u[delta > 0] = delta[delta > 0]
 d[delta < 0] = -delta[delta < 0]
 u[u.index[period-1]] = np.mean( u[:period] ) #first value is sum of avg gains
 u = u.drop(u.index[:(period-1)])
 d[d.index[period-1]] = np.mean( d[:period] ) #first value is sum of avg losses
 d = d.drop(d.index[:(period-1)])
 rs = ewma(u, com=period-1, adjust=False) / \
 ewma(d, com=period-1, adjust=False)
 return 100 - 100 / (1 + rs)

In [7]:
df['RSI2'] = RSI(df['close'], 14)

TypeError: unsupported operand type(s) for /: 'EWM' and 'EWM'

In [9]:
df["RSI2"]=fc.rsiFunc(close,n=14)

In [10]:
df.head(n=20)

,date,open,high,low,close,volume,RSI,Overbought,Oversold,RSI2
0,2019-01-02,1016.57,1052.32,1015.71,1045.85,1532608,NaN,70,30,56.545480
1,2019-01-03,1041.00,1056.98,1014.07,1016.06,1841066,NaN,70,30,56.545480
2,2019-01-04,1032.59,1070.84,1027.42,1070.71,2093894,NaN,70,30,56.545480
3,2019-01-07,1071.50,1074.00,1054.76,1068.39,1981874,NaN,70,30,56.545480
4,2019-01-08,1076.11,1084.56,1060.53,1076.28,1765267,NaN,70,30,56.545480
5,2019-01-09,1081.65,1082.63,1066.40,1074.66,1199272,NaN,70,30,56.545480
6,2019-01-10,1067.66,1071.15,1057.71,1070.33,1456421,NaN,70,30,56.545480
7,2019-01-11,1063.18,1063.78,1048.48,1057.19,1520756,NaN,70,30,56.545480
8,2019-01-14,1046.92,1051.53,1041.26,1044.69,1144263,NaN,70,30,56.545480
9,2019-01-15,1050.17,1080.05,1047.34,1077.15,1463570,NaN,70,30,56.545480
10,2019-01-16,1080.00,1092.38,1079.34,1080.97,1331819,NaN,70,30,56.545480
11,2019-01-17,1079.47,1091.80,1073.50,1089.90,1242664,NaN,70,30,56.545480
12,2019-01-18,1100.00,1108.35,1090.90,1098.26,1955559,NaN,70,30,56.545480
13,2019-01-22,1088.00,1091.51,1063.47,1070.52,1613527,NaN,70,30,56.545480
14,2019-01-23,1077.35,1084.93,1059.75,1075.57,966956,56.989652,70,30,57.621113
15,2019-01-24,1076.48,1079.47,1060.70,1073.90,1361673,56.511600,70,30,57.117602
16,2019-01-25,1085.00,1094.00,1081.82,1090.99,1119216,60.191729,70,30,60.884521
17,2019-01-28,1080.11,1083.00,1063.80,1070.08,1284281,54.153459,70,30,54.568470
18,2019-01-29,1072.68,1075.15,1055.86,1060.62,1021819,51.629982,70,30,51.943112
19,2019-01-30,1068.43,1091.00,1066.85,1089.06,1279822,57.970828,70,30,58.419845